* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

.cadastro-container {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(to bottom, #00aaff, #53c3d9);
  display: flex;
  justify-content: center;
  align-items: center;

  color: white;
}

.onda-container {
  text-align: center;
  align-items: center;
}

#fixa-onda {
  width: 45vw;
  height: 55vh;
  z-index: 2;
}

.oceano-onda {
  position: fixed;
  width: 200vw;
  height: 60vh;
  align-content: start;
  display: flex;
  background: url(../img/onda.webp) repeat-x;
  background-size: cover;
  animation: wave-animation 34s linear infinite;
  z-index: -1;
}

@keyframes wave-animation {
  from {
    transform: translateX(-60%);
  }
  to {
    transform: translateX(-20%);
  }
}

fieldset {
  margin: auto;
  position: relative;
  display: flex;
  height: 68vh;
  flex-direction: column;
  width: 40vw;
  border-radius: 12px;
  text-align: center;
  color: #fd8700;
  gap: 6vh;
  padding: 1vw;
  font-size: 1.2vw;
}

b {
  color: #fd8700;
  text-shadow: black 0.08vw 0.1vw 0.3vw;
}

#btn-fechar {
  margin-top: 2vh;

  &:hover {
    transition: 1.2s ease-in;
    background-color: #db1212;
  }
}

.content {
  display: flex;
  margin-top: 30vh;
  z-index: 0;
  flex-direction: column;
  align-content: center;
  text-align: center;
}

h1 {
  font-size: 3vw;
}

.entrada {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  gap: 1vw;
}

dialog {
  position: absolute;
  margin: auto;
  width: 50vw;
  height: 84vh;
  background-color: rgba(22, 22, 22, 0.849);
  border-radius: 16px;
  border: inset black 1vw 0.2vw;
  padding: 1.2vw;
}

legend {
  font-size: 130%;
}

#opcoes-cadastro {
  display: flex;
  flex-direction: row;
  gap: 10vw;
  justify-content: center;
  a {
    text-decoration: none;
    color: #fd8700;

    &:hover {
      font-size: 1.4vw;
      transition: all 0.2s linear;
    }
  }
}

p {
  font-size: 1.6vw;
  margin-bottom: 16vh;
}

.sucesso {
  font-size: 130%;
  color: rgb(1, 223, 1);
}

.negado {
  font-size: 130%;
  color: #db1212;
}
