* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

.cadastro-container {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(to bottom, #00aaff, #53c3d9);
  display: flex;
  justify-content: center;
  align-items: center;

  color: white;
}

.onda-container {
  text-align: center;
  align-items: center;
}

#fixa-onda {
  margin: auto;
  width: 45vw;
  height: 50vh;
  z-index: 2;
}

.oceano-onda {
  position: relative;
  margin-top: 10vh;
  width: 200vw;
  height: 60vh;
  align-content: start;
  display: flex;
  background: url(../img/onda.webp) repeat-x;
  background-size: cover;
  animation: wave-animation 34s linear infinite;
  z-index: -1;
}

@keyframes wave-animation {
  from {
    transform: translateX(-60%);
  }
  to {
    transform: translateX(-20%);
  }
}

.content {
  display: flex;
  margin-top: 30vh;
  z-index: 0;
  flex-direction: column;
  align-content: center;
  text-align: center;
}

h1 {
  font-size: 3vw;
}

dialog {
  margin: auto;
}

p {
  font-size: 1.2vw;
}

#entrar-modal {
}
