.fundo-favoritos {
  display: flex;
  padding: 10vh 20vw;
  justify-content: center;
  margin: 0;

  text-align: center;
  align-items: center;
  background-image: url(../img/fundo-favoritos.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: fixed;
  width: 100vw;
  height: 100vh;

  overflow: hidden;
}

h2 {
  display: inline-block;
  text-align: center;
  color: white;
  font-size: 23px;
  line-height: 50px;
}

#favoritos-container {
  margin-top: 6vh;
  display: grid;
  height: 62vh;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 22vh 22vh;
  justify-items: center;
  align-items: center;
  column-gap: 1vw;
  row-gap: 5vh;
}

.favorito {
  display: flex;
  flex-direction: column;
  gap: 4vh;
  justify-items: center;
  align-items: center;
  margin: auto;
  justify-content: center;
  background-color: #000000;
  border-radius: 32px;
  width: 40vw;
  height: 26vh;
  border: 0.25vw solid #3da3d0;
  border-style: ridge;
}

.local-favorito {
  display: block;
  text-align: center;
  align-content: center;
  font-weight: bold;
  font-size: 2vw;
  background-color: #3da3d0;
  border-radius: 32px;
  width: 36vw;
  height: 6vh;
}

.info-local {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1.2em;
  justify-content: center;
  align-items: center;
  .item-local {
    background-color: #3da3d0;
    padding: 1.2em;
    text-align: center;
    align-items: start;
    border-radius: 32px;
    width: 12vw;
    height: 3vh;
    font-size: 2vw;
  }
}

.localizar {
  background-image: url(../img/mapa_local_pesca.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100%;
  align-content: end;
  position: fixed;
  flex-wrap: wrap;
  opacity: 0.9;

  button {
    margin-bottom: 20vh;
  }
}

#btn-localizar-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

footer {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  flex-direction: column;
  align-content: end;
  position: relative;
}

#rodape-locais-favoritos {
  margin-top: 13vh;
}

@media screen and (max-width: 500px) {
  #info-favoritos {
    font-size: 12px !important;
  }
}

@media screen and (max-width: 845px) {
  #info-favoritos {
    font-size: 16px !important;
  }
}

@media screen and (max-width: 4400px) {
  #info-favoritos {
    font-size: 28px;
  }
}

#btn-salvar {
  margin-top: 2vh;

  &:hover {
    transition: 0.45s ease-in;
    background: linear-gradient(to bottom, #00dd30, #006b17);
  }
}