* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "REM", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

input {
  padding: 0.8em;
  text-align: center;
  border: none;
  font-size: 120%;
  border-radius: 0.3em;
  transition: 0.3s ease;
  &:focus {
    transition: all 0.4s linear;
    box-shadow: inset 0 0 0.6vw #000000;
  }

  &::placeholder {
    text-align: center;
    font-size: 120%;
  }
}

.cabecalho-funcionalidade {
  display: flex;
  background: linear-gradient(to left, #00aaff, #53c3d9);
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 0.6%;
}

button {
  display: block;
  padding: 0.4vw;
  background-color: #00000036;
  color: rgb(255, 255, 255);
  border-radius: 2em;
  border-color: #fdfdfdec;
  border-style: solid;
  cursor: pointer;
  margin: auto;
  font-size: 1.6vw;
  width: 10vw;
  justify-content: center;
  align-items: center;

  &:hover {
    transition: 0.45s ease-in;
    background-color: #fd8700;
  }
}

a {
  position: static;
  text-decoration: none;
  color: #fd8700;
  font-size: 1.2vw;
  text-shadow: black 0.08vw 0.05vw 0.2vw;

  &:hover {
    font-size: 1.4vw;
    transition: all 0.2s linear;
  }
}

#titulo-beneficios {
  color: #000000;
  background-color: #fd8700;
  justify-content: start;
  border-radius: 16px;
  padding: 0.3vw;
  font-size: 1.6vw;
  text-align: center;
  align-items: start;
  width: 35vw;
  margin-bottom: 1vh;
}

.cabecalho-laranja {
  display: flex;
  flex-direction: row;
  position: fixed;
  width: 100vw;
  background-color: #000000;
  margin: auto 0;
  color: aliceblue;
  z-index: 1;
  text-align: center;
  align-items: center;
  border-radius: 0px 0px 1000px 1000px;
  justify-content: space-around;
}

#preserva {
  margin-bottom: 120vh;
}

form div {
  text-align: start;
}

main {
  position: absolute;
  height: 20vh;
  margin-bottom: 80vh;

  form {
    display: flex;
    flex-direction: column;
    gap: 12vh;
  }
}

footer {
  nav div {
    margin-top: 40vh;
    width: 100vw;
    display: flex;
    flex-direction: row;

    justify-content: space-around;
  }
}

.dialog-container {
  display: flex;
  flex-direction: column;
  gap: 10vh;
}

#modal-codigo {
  height: 70vh !important;
}

#titulo-preserva {
  margin-top: 100vh;
}

section {
  text-align: start;
  padding: 2.5%;
}

.btn-localizar {
  width: 20vw;
}

@media screen and (max-width: 800px) {
  button {
    width: 64px;
    height: 30px;
    font-size: 10px;
  }
}
